In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from NRCS_report import Report
import os, ssl 
from urllib.request import urlopen
from bs4 import BeautifulSoup

/Users/gregmcc/.pyenv/versions/3.8.6/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
#Print out site info
rep = Report()

rep.GetIDs('SNTL')

rep.SiteIDs.sample(10)

,ntwk,state,site_name,ts,start,lat,lon,elev,county,huc,site_id,huc_name
446,SNTL,NV,Cave Mountain,,2011-October,39.16,-114.61,10578,White Pine,160600080402,1152,Bastian Creek
0,SNTL,AK,Alexander Lake,,2014-August,61.75,-150.89,160,Matanuska-susitna,190205051106,1267,Headwaters Alexander Creek
572,SNTL,OR,Tipton,,1978-October,44.66,-118.43,5150,Baker,170502020101,821,Upper North Fork Burnt River
703,SNTL,UT,Vernon Creek,,1978-October,39.94,-112.41,7401,Tooele,160203040102,844,Vernon Creek
335,SNTL,MT,Carrot Basin,,1966-October,44.96,-111.29,9000,Gallatin,100200080105,385,Specimen Creek
517,SNTL,OR,Emigrant Springs,,1979-October,45.56,-118.45,3800,Umatilla,170701030501,470,Iskuulpa Creek
776,SNTL,WA,Swift Creek,,2001-October,46.16,-122.18,4440,Skamania,170800020304,1012,Swift Creek
331,SNTL,MT,Box Canyon,,1976-October,45.27,-110.25,6670,Park,100700020902,363,Headwaters Boulder River
706,SNTL,UT,Widtsoe #3,,1978-October,37.84,-111.88,9640,Garfield,160300020403,865,Sweetwater Creek
134,SNTL,CO,Burro Mountain,,1978-October,39.88,-107.6,9400,Rio Blanco,140500050302,378,North Elk Creek

In [4]:
TimeInfo={'month':2,'timeofmonth':'end','years':(2010,2019)}
DataTypes={'WTEQ':'value','SNWD':'value'}
SiteIDs = [['CA',391,'SNTL'],['AK',1062,'SNTL'],['CA',1067,'SNTL'],['CA',1051,'SNTL']]

rep.GetReport(TimeOption='monthly',TimeInfo=TimeInfo,\
              DataTypes=DataTypes,SiteIDs=SiteIDs)

In [5]:
N = rep.df_rep.shape[0]
rep.df_rep.head(N)

        date state site_id  WTEQ SNWD
0   Feb 2010    AK    1062  11.1   35
1   Feb 2010    CA    1051  22.5   77
2   Feb 2010    CA    1067  26.7   87
3   Feb 2010    CA     391  12.7   38
4   Feb 2011    AK    1062   8.9   36
5   Feb 2011    CA    1051  31.2  102
6   Feb 2011    CA    1067  35.2  107
7   Feb 2011    CA     391  15.4   48
8   Feb 2012    AK    1062  15.6   64
9   Feb 2012    CA    1051   7.2   34
10  Feb 2012    CA    1067  10.4   36
11  Feb 2012    CA     391   7.7   29
12  Feb 2013    AK    1062  13.6   47
13  Feb 2013    CA    1051  18.8   49
14  Feb 2013    CA    1067  24.6   63
15  Feb 2013    CA     391  10.7   34
16  Feb 2014    AK    1062   6.2   15
17  Feb 2014    CA    1051    14   50
18  Feb 2014    CA    1067  16.3   64
19  Feb 2014    CA     391     6   20
20  Feb 2015    AK    1062   5.7   13
21  Feb 2015    CA    1051   8.8   27
22  Feb 2015    CA    1067  13.1   41
23  Feb 2015    CA     391   3.5   10
24  Feb 2016    AK    1062  16.4   59
25  Feb 2016    CA    1051  19.6   49
26  Feb 2016    CA    1067  24.6   64
27  Feb 2016    CA     391  18.6   45
28  Feb 2017    AK    1062     9   37
29  Feb 2017    CA    1051  46.5  135
30  Feb 2017    CA    1067  49.1  138
31  Feb 2017    CA     391  20.8   64
32  Feb 2018    AK    1062  11.5   43
33  Feb 2018    CA    1051   7.6   23
34  Feb 2018    CA    1067  12.3   39
35  Feb 2018    CA     391   8.5   29
36  Feb 2019    AK    1062  12.4   44
37  Feb 2019    CA    1051  38.6  117
38  Feb 2019    CA    1067  41.7  121
39  Feb 2019    CA     391  19.2   57

In [6]:
rep.URL #this is the webpage with the data in the above table. For ease of data manupulation I made the station 
    #identity (state+site_id) features

'https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport/monthly/end_of_period/391:CA:SNTL%7C1062:AK:SNTL%7C1067:CA:SNTL%7C1051:CA:SNTL%7Cid=%22%22%7Cname/2010-01-01,2019-12-31:M%7C2/stationId,name,WTEQ::value,SNWD::value?fitToScreen=false'