In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from NRCS_report import Report

/Users/gregmcc/.pyenv/versions/3.8.6/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
#Make the Report object, just load in the previously obtained SiteID info
df_sites = pd.read_csv('SiteIDs.csv')
rep = Report(SiteIDs = df_sites)

rep.SiteIDs.sample(5) #this is the same as saying df_sites.sample(5)

,ntwk,state,site_name,ts,start,lat,lon,elev,county,huc,site_id,huc_name
1330,SNOW,AK,Tolsona Creek,NaN,1985-February,62.10,-146.05,2000.0,Valdez-cordova,190201021405,46N04,Lower Tolsona Creek
1473,SNOW,CA,Casa Vieja Meadows,NaN,1930-April,36.20,-118.27,8300.0,Tulare,180300010401,CSV,Ninemile Creek
1206,SNOW,AK,Cropley Lake,NaN,1977-January,58.27,-134.53,1650.0,Juneau,190103010710,34J02,Fish Creek
1713,SNOW,CO,Deer Ridge,NaN,1949-February,40.40,-105.63,9000.0,Larimer,101900060204,05J17,Fall River
1138,SNOW,AB,Gardiner Creek Pillow,NaN,1986-February,49.36,-114.52,6463.0,Unknown,90400030000,14Z10,Upper Oldman River

In [8]:
#Now lets get all the sites in Inyo county CA
CountyName = 'Inyo'

I_c = rep.SiteIDs['county'] == CountyName
Nsite = I_c.sum()
print('There are',Nsite,'sites in',CountyName,'county')

There are 9 sites in Inyo county

In [10]:
df_county = rep.SiteIDs.loc[I_c]
df_county

,ntwk,state,site_name,ts,start,lat,lon,elev,county,huc,site_id,huc_name
38,SCAN,CA,Death Valley Jct,NaN,2012-June,36.33,-116.35,2062.0,Inyo,180902021504,2190,Ash Meadows
39,SCAN,CA,Deep Springs,NaN,2011-November,37.37,-117.97,5399.0,Inyo,180902010102,2187,Lower Wyman Creek
1452,SNOW,CA,Big Pine Creek 2,NaN,1926-April,37.13,-118.47,9700.0,Inyo,180901020709,BP2,Big Pine Creek
1453,SNOW,CA,Big Pine Creek 3,NaN,1926-April,37.13,-118.47,9800.0,Inyo,180901020709,BP3,Big Pine Creek
1456,SNOW,CA,Bishop Lake,NaN,1951-April,37.12,-118.55,11300.0,Inyo,180901020601,BSP,South Fork Bishop Creek
1491,SNOW,CA,Cottonwood Lakes 1,NaN,1926-April,36.48,-118.18,10150.0,Inyo,180901030404,CW1,Upper Cottonwood Creek
1593,SNOW,CA,North Lake,NaN,1930-March,37.23,-118.62,9300.0,Inyo,180901020602,NTH,Middle Fork Bishop Creek
1625,SNOW,CA,Rock Creek 3,NaN,1926-April,37.45,-118.74,10000.0,Inyo,180901020301,RC3,Upper Rock Creek
1638,SNOW,CA,Sawmill,NaN,1926-May,37.16,-118.56,10200.0,Inyo,180901020601,SWM,South Fork Bishop Creek

In [15]:
#Lets try and get a report for the first two sites which are scan sites
IndSelect = [0,8] #station index in above station list df_county to use
Nselect = len(IndSelect)
Sites = [None]*Nselect #here we will write the input for GetReports. Even for 1 site, the format must be a list of 
    #three element lists where each element in the internal lists are strings corresponding to the site ID
    #[State(str),ID #(str),ntwk (str)]
NL=0
for ii in IndSelect:
    Sites[NL] = [None]*3
    Sites[NL][0] = df_county['state'].iloc[ii]
    Sites[NL][1] = df_county['site_id'].iloc[ii]
    Sites[NL][2] = df_county['ntwk'].iloc[ii]
    NL+=1
    
print(Sites)

[['CA', '2190', 'SCAN'], ['CA', 'SWM', 'SNOW']]

In [16]:
#Now we can get the report. Lets just use the default inputs other than SiteIDs
rep.GetReport(SiteIDs=Sites)

In [17]:
#print out results
rep.df_rep #note that if you have sites which all have no data for every entry the dataframe returns blank
    #(as the HTML output table is blank as well)

        date state site_id SNWD  WTEQ
0   Mar 2012    CA    2190  NaN   NaN
1   Mar 2012    CA     SWM  NaN     4
2   Mar 2013    CA    2190  NaN   NaN
3   Mar 2013    CA     SWM  NaN  10.9
4   Mar 2014    CA    2190  NaN   NaN
5   Mar 2014    CA     SWM  NaN     6
6   Mar 2015    CA    2190  NaN   NaN
7   Mar 2015    CA     SWM  NaN   4.5
8   Mar 2016    CA    2190  NaN   NaN
9   Mar 2016    CA     SWM  NaN    13
10  Mar 2017    CA    2190  NaN   NaN
11  Mar 2017    CA     SWM  NaN    40
12  Mar 2018    CA    2190  NaN   NaN
13  Mar 2018    CA     SWM  NaN     6
14  Mar 2019    CA    2190  NaN   NaN
15  Mar 2019    CA     SWM  NaN  25.5
16  Mar 2020    CA    2190  NaN   NaN
17  Mar 2020    CA     SWM  NaN   8.5

In [18]:
rep.URL #you can go to this URL to see the actual Report Generator HTML output

'https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport/monthly/start_of_period/2190:CA:SCAN%7CSWM:CA:SNOW%7Cid=%22%22%7Cname/2010-01-01,2020-12-31:M%7C3/stationId,name,SNWD::value,WTEQ::value?fitToScreen=false'