In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from NRCS_report import Report
import os, ssl 
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [20]:
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
rep = Report()

rep.GetIDs('SNTL')

In [4]:
rep.SiteIDs.head()

,ntwk,state,site_name,ts,start,lat,lon,elev,county,huc,site_id,huc_name
0,SNTL,AK,Alexander Lake,,2014-August,61.75,-150.89,160,Matanuska-susitna,190205051106,1267,Headwaters Alexander Creek
1,SNTL,AK,American Creek,,2011-August,64.79,-141.23,1050,Southeast Fairbanks,190705050504,1189,American Creek
2,SNTL,AK,Anchor River Divide,,1980-October,59.86,-151.32,1653,Kenai Peninsula,190203010701,1062,Headwaters Anchor River
3,SNTL,AK,Anchorage Hillside,,2004-October,61.11,-149.67,2080,Anchorage,190204010601,1070,South Fork Campbell Creek
4,SNTL,AK,Atigun Pass,,1981-October,68.13,-149.48,4800,North Slope,190802010102,957,Chandalar Shelf

Now that we can pull all the site ID information we can request reports from specific sites
or hopefully from a group of sites. That must be requested via a URL. The URL contains other info as well:
* Data types to be shown
* Time period to get data for

In [5]:
State = 'CA'
I_state = rep.SiteIDs['state'] == 'CA'

rep.SiteIDs.loc[I_state].head()

,ntwk,state,site_name,ts,start,lat,lon,elev,county,huc,site_id,huc_name
88,SNTL,CA,Adin Mtn,,1983-October,41.24,-120.79,6190,Modoc,180200021403,301,Cottonwood Creek
89,SNTL,CA,Blue Lakes,,1980-October,38.61,-119.92,8067,Alpine,180400120101,356,Deer Creek
90,SNTL,CA,Burnside Lake,,2003-October,38.72,-119.89,8129,Alpine,160502010107,1051,Hot Springs Creek
91,SNTL,CA,Carson Pass,,2004-October,38.69,-120,8360,Alpine,180201290101,1067,Caples Creek
92,SNTL,CA,Cedar Pass,,1977-October,41.58,-120.3,7030,Modoc,180200020603,391,Thoms Creek

In [6]:
Sites = [['AK',1062],['CA',1067]]
#sites seem to be entered as SiteID:StateStr:StationType, so the CA's Blue Lakes site we have:
    #356:CA:SNTL

In [6]:
#Lets get a URL with some properties for the report:
    #Two site from different states, listed above in Sites list
    #Two data types: Snow Depth and Snow Water Equivalent, both Values
    #Yearly values from March 31st each year from 2015-2020
    
    #The input webpage is save as 'Snotel_Data2_ReportInput1.pdf' in this directory
    #output webpage is also saved

This is the URL:
https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport/monthly/start_of_period/1062:AK:SNTL%7C1067:CA:SNTL%7Cid=%22%22%7Cname/2015-03-31,2020-03-31:M%7C3/stationId,name,SNWD::value,WTEQ::value?fitToScreen=false

This segment seems to be common to all custom reports:
* https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport

To make a report by a single month per year this segment is added to the initial one:
* /monthly/

Whether the value from start of end of month is used is controlled by the next sgement:
* /start_of_period/
* /end_of_period/

Stations IDs are in next segment:
* /1062:AK:SNTL%7C1067:CA:SNTL%7Cid=%22%22%7Cname/
* IDs are separated by %7C (in fact this is common in other segments as well)
* IDs input as ID:State Symbol:Site Type Symbol
* not sure what last bit does yet, but it must be included 'id=%22%22%7Cname'

The month data is are plotted for is controlled by this segment: /2015-03-31,2020-03-31:M%7C3/
* Important quantity is the year and the month number which is the last number in the segment
* So if we want data for June from 1985-2000 we can input: /1985-01-01,2000-01-01:M%7C6/

The last segment is the data to be plotted and I believe what the header's look like:
* example '/stationId,name,SNWD::value,WTEQ::value?fitToScreen=false'
* the first bit must be something with the headers, but I don't understand how to modify: 'stationId,name,'
* here data types to be shown are input as: Data Symbol::data type
    * value is just the value for that day. There are some other options such as 'Delta from previous value (not sure what symbol is input for that one)'
    * the data type symbols as they are figured out are to be listed in self.DataTypes for the convenience of the user
* The last bit should always be included, does not affect bs4 functionality: '?fitToScreen=false'

In [7]:
rep.DataTypes.head()

               Data type Input ID Units
0             Snow Depth     SNWD    in
1  Snow Water Equivalent     WTEQ    in

In [8]:
rep.GetReport()

print(rep.URL)

https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport/monthly/start_of_period/1062:AK:SNTL%7C1067:CA:SNTL%7Cid=%22%22%7Cname/2010-01-01,2020-12-31:M%7C3/stationId,name,SNWD::value,WTEQ::value?fitToScreen=false

In [17]:
TimeInfo={'month':2,'timeofmonth':'end','years':(1987,1993)}
DataTypes={'WTEQ':'value','SNWD':'value'}
SiteIDs = [['CA',391,'SNTL'],['AK',1062,'SNTL'],['CA',1067,'SNTL'],['CA',1051,'SNTL']]

rep.GetReport(TimeOption='Monthly',DataTypes=DataTypes,SiteIDs=SiteIDs,TimeInfo=TimeInfo)

In [18]:
rep.URL

'https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport/monthly/end_of_period/391:CA:SNTL%7C1062:AK:SNTL%7C1067:CA:SNTL%7C1051:CA:SNTL%7Cid=%22%22%7Cname/1987-01-01,1993-12-31:M%7C2/stationId,name,WTEQ::value,SNWD::value?fitToScreen=false'

Now the table must be read from the HTML code. Interestingly the order input of the DataTypes affects the column ordering, but the ordering of the SiteIDs does not, that seems to have some preferred ordering independent of the user input order. It goes in the order of the listing page first by state and then by site name. So the column headers could be determined by 1) input order for datatype and 2) alphabetical order for site. Or it can be extracted from the HTML.

In [65]:
#Develop code for getting the report
URLrep = urlopen(rep.URL)
BS = BeautifulSoup(URLrep,'html.parser')

In [69]:
Table = BS.find_all('table',{'role':'grid'})

In [70]:
Ntable = len(Table)
IndTable = -1
#tabPanel:formReport:tblViewData_head
for ii in range(Ntable):
    Thead = Table[ii].find('thead',{'id':'tabPanel:formReport:tblViewData_head'})
    if (Thead is None) == False:
        IndTable = ii
        
Table = Table[IndTable]

In [74]:
Rows = Table.find_all('tr',{'role':'row'})
Nrows = len(Rows)
print(Nrows)

for ii in range(Nrows):
    Els = Rows[ii].find_all('td',{'role':'gridcell'})
    Ncol = len(Els)
    if ii == 0:
        Data = np.zeros((Nrows,Ncol))
#     for jj in range(Ncol):
#         Data[ii,jj] = Els[jj].text
    #need to think about in what form to extract that data

7

ValueError: could not convert string to float: 'Feb 1987'